<%= simple_form_for @friend do |f| %>
  <%= f.input :first_name, label: 'First name', error: 'first name is mandatory, please specify one' %>
  <%= f.input :last_name, label: 'Last name', error: 'last name is mandatory, please specify one' %>
  <%= f.input :nickname, label: 'Nickname' %>
  <div>
    <label>Year of birth</label>
  </div>
   <%= f.date_field :birthday, label: 'Year of birth' %>
  <%= f.button :submit, class: 'btn btn-success btn-xs' %>
<% end %>
