<div class="container">
  <h1 class="text-center"> <%= current_user.fullname.capitalize %> </h1>
  <h2>List of all yout friends</h2>

  <ol>
    <% @friends.each do |friend| %>
    <%= link_to friend_path(friend) do %>
     <li> <%= friend.first_name.capitalize %> <%= friend.last_name.capitalize %> Friends since <%= friend.created_at.strftime('%D') %> <%= link_to 'Delete a friend', friend, class: 'btn btn-danger btn-xs', method: :delete, data: {confirm: "Are you sure?"} %>
  </li>
     <% end %>

    <% end %>
  </ol>

  <%= link_to 'Add friend', new_friend_path, class: 'btn btn-primary' %>
</div>
